#party__mainContainer {
    display: none;
    opacity: 0;
    user-select: none;
    z-index: 999;
}

.mainContainer {
    width: 55px;
}

@keyframes bottomToTop {
    from {top: 120%; opacity: 0.5;}
    to {top: -20%; opacity: 1;}
}